<% if(session.cart) { %>
<div class="bg-[#eee2e27a] pb-4">
  <div class="w-1/2 mx-auto">
    <div class="flex items-center border-b py-6 border-gray-300">
      <img class="w-10" src="images/shopping-cart.png" alt="" />
      <span>Order Summary</span>
    </div>

    <%for(let cartItems of Object.values(session.cart.items)) { %>
    <div class="py-5 flex items-center">
      <img class="w-20 mr-5" src="<%= cartItems.item.img%>" alt="" />
      <div class="flex-1">
        <h1><%= cartItems.item.name %></h1>
        <span><%= cartItems.item.delivery %></span>
      </div>
      <span class="flex-1"><%= cartItems.qty %> Pcs</span>
      <span>₹<%= cartItems.item.price * cartItems.qty%></span>
    </div>
    <% } %>

    <hr />
    <div class="relative">
      <div class="flex justify-end pt-5 gap-2">
        <span>Total Amount</span>
        <span class="text-[#fc3d03] font-bold"
          >₹<%= session.cart.totalPrice %></span
        >
      </div>
      <div class="text-end">
        <form action="/orders" method="post">
          <% if (user) {%>
          <input
            class="py-2 px-4 border-2 border-gray-500 w-1/2 placeholder-mx-4 placeholder:text-gray-600 mb-4"
            type="text"
            name="phone"
            placeholder="Phone No"
          />
          <input
            class="py-2 px-4 border-2 border-gray-500 w-1/2 placeholder-mx-4 placeholder:text-gray-600"
            type="text"
            name="address"
            placeholder="Address"
          />

          <div>
            <button
              type="submit"
              class="bg-[#fc3d03] py-2 px-6 rounded-full mt-5 text-white"
            >
              Order Now
            </button>
          </div>
        </form>

        <% } else {%>

        <button class="bg-[#fc3d03] py-2 px-6 rounded-full mt-5 text-white">
          <a href="/login"> Login to continue </a>
        </button>

        <% } %>
      </div>
    </div>
  </div>
</div>
<% } else { %>
<div class="text-center mt-10">
  <h1 class="text-5xl mb-4">Cart Empty</h1>
  <p>
    You probably haven't ordered a pizza yet.To order a pizza.go to the main
    page
  </p>
  <img class="mx-auto mb-5" src="/images/empty-cart.png" alt="" />
  <a class="px-6 py-2 bg-[#fc3d03] rounded-full text-white" href="/">Go back</a>
</div>
<% } %>
